{% extends 'base.html' %} {% block content %}

<script>
    $("#users-link").addClass("active");
</script>

<div class="container">
    <div class="row my-3">
        <div class="col">
            <h1 class="display-4">Users</h1>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <a class="btn btn-primary" href="{{ url_for('users.add') }}">Add a new user</a>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <table class="table table-hover table-sm">
                <thead>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Name</th>
                    <th>Pass?</th>
                    <th>Group</th>
                    <th>Type</th>
                    <th>Last login</th>
                    <th>Actions</th>
                </thead>

                <tbody>
                    {% for user in users %}
                    <tr class="showhim">
                        <th scope="row" style="width: 5%;">{{ user.id }}</th>
                        <td style="width: 20%;">{{ user.login }}</td>
                        <td style="width: 20%;">{{ user.displayed_name }}</td>
                        <td style="width: 5%;">
                            {% if user.password %}
                            <i class="fas fa-check"></i>
                            {% else %}
                            <i class="fas fa-times"></i>
                            {% endif %}
                        </td>
                        <td style="width: 10%;">{{ user.access_group.name }}</td>
                        <td style="width: 10%;">{{ user.user_type.name }}</td>
                        <td style="width: 15%;">{{ user.last_logged_in.strftime('%H:%M - %d-%m-%Y') }}</td>
                        <td style="width: 3%;">
                            <span class="text-right float-right mx-1 showme">
                                <a class="showme" data-remove-link="{{ url_for('users.delete', user_id=user.id) }}"
                                   data-toggle="modal" data-target="#delete-modal" href="javascript:void(0);">
                                    <i class="fas fa-trash" title="Remove"></i>
                                </a>
                            </span>
                            <span class="text-right float-right mx-1 showme">
                                <a class="showme" href="{{ url_for('users.edit', user_id=user.id) }}">
                                    <i class="fas fa-edit" title="Edit"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete user confirmation modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-title">Delete the user?</h5>
            </div>
            <div class="modal-body">
                <p class="text-danger">WARNING: THIS CANNOT BE UNDONE!</p>
                <p>Are you sure you want to delete this user?</p>
            </div>
            <div class="modal-footer">
                <a id="delete-button" class="btn btn-danger">Delete</a>
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('show.bs.modal', '#delete-modal', function (event) {
        var button = $(event.relatedTarget);
        var removeLink = button.data('remove-link');
        var modal = $(this);
        var deleteButton = modal.find("#delete-button");
        console.log(removeLink)
        console.log(deleteButton);
        deleteButton.attr('href', removeLink);
        console.log(deleteButton);
    })
</script>

{% endblock %}