{% extends 'base.html' %} {% block content %}

<script>
    globals.urls.tripInfo = '{{ url_for("api.trips.get_info", trip_uid=trip["uid"]) }}'
    globals.urls.productUnits = '{{ url_for("api.products.product_units", _external=True, _scheme="https") }}'
    globals.urls.addMeal = '{{ url_for("api.meals.meals_add") }}'
    globals.urls.removeMeal = '{{ url_for("api.meals.meals_remove") }}'
    globals.urls.clearMeals = '{{ url_for("api.meals.meals_clear") }}'
    globals.urls.productsSearch = '{{ url_for("api.products.search", _external=True, _scheme="https") }}'
    globals.urls.mealsInfo = '{{ url_for("api.meals.get_meals", trip_uid=trip["uid"]) }}'
    globals.urls.cycleDays = '{{ url_for("meals.cycle_days", trip_uid=trip["uid"]) }}'
    globals.trip.uid = "{{ trip['uid'] }}"
</script>

{% raw %}
<div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="add-product-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-product-modal-label">{{ $t('meals.addModal.title') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-meal-form" name="meal" novalidate>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            {{ $t('meals.addModal.productTitle') }}
                        </label>
                        <div class="input-group col-sm-10">
                            <input type="text" class="form-control col-7 col-md-8" v-model="currentProductName" disabled>
                            <div class="input-group-append col-5 col-md-4 px-0">
                                <button tabindex="7" class="btn btn-outline-secondary w-100 text-truncate" type="button" @click="clearProduct()">
                                    {{ $t('meals.addModal.clearProductButton') }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mass-input" class="col-sm-2 col-form-label">
                            {{ $t('meals.addModal.massTitle') }}
                        </label>
                        <div class="input-group col-sm-10">
                            <input tabindex="2" class="form-control col-7 col-md-8" id="mass-input" name="mass"
                                   :placeholder="$t('meals.addModal.massPlaceholder')"
                                   v-model="mass"
                                   autocomplete="off"
                                   :class="{ 'is-valid': validation.mass, 'is-invalid': !validation.mass }"
                                   @keyup="addMealKey"/>
                            <select tabindex="3" class="custom-select input-group-append col-5 col-md-4 rounded-right"
                                    v-model="unit">
                                    <option v-for="unit in units" v-bind:value="unit.value">{{unit.name}}</option>
                            </select>
                            <div class="invalid-feedback">
                                {{ $t('meals.addModal.invalidMassError') }}
                            </div>
                        </div>
                        <div class="input-group">

                        </div>
                    </div>
                </form>
                <div class="border-bottom"></div>

                <div class="input-group my-3">
                    <input tabindex="6"
                           type="text"
                           id="search-product-input"
                           class="form-control"
                           :placeholder="$t('meals.addModal.searchPlaceholder')"
                           @input="searchProducts">
                </div>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th style="width: 8%">{{ $t('meals.addModal.idTitle') }}</th>
                            <th>{{ $t('meals.addModal.nameTitle') }}</th>
                        </tr>
                    </thead>
                    <tbody id="found-products">
                        <tr v-for="product in products" @click="setProduct(product.id, product.name)">
                            <th scope="row">
                                {{ product.id }}
                            </th>
                            <td>
                                <a tabindex="-1" @click="setProduct(product.id, product.name)" href="javascript:void(0);">
                                    {{ product.name }}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <span id="error-message" class="align-middle text-danger mx-3" v-if="errorMessageVisible">
                    {{ errorMessage }}
                </span>
                <button tabindex="5" type="button" class="btn btn-secondary col-3" data-dismiss="modal">
                    {{ $t('meals.addModal.closeButton') }}
                </button>
                <button tabindex="4" id="add-product-button" type="button" class="btn btn-primary col-3"
                        v-bind:disabled="submitDisabled" @click="addMeal">
                    <span class="spinner-border spinner-border-sm" v-if="spinnerVisible" role="status"></span>
                    {{ $t('meals.addModal.addButton') }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fatal-error-modal" tabindex="-1" role="dialog" aria-labelledby="fatal-error-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fatal-error-modal-label">
                    {{ $t('meals.errorModal.title') }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ $t('meals.errorModal.text') }}
            </div>
            <div class="modal-footer">
                <button id="reload-page-button" type="button" class="btn btn-primary" @click="window.location.reload(true)">
                    {{ $t('meals.errorModal.reloadButton') }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cycle-days-modal" tabindex="-1" role="dialog" aria-labelledby="cycle-days-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" :action="cycleDaysLink">
                <div class="modal-header">
                    <h5 class="modal-title" id="cycle-days-modal-label">{{ $t('meals.cycleDaysModal.title') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ $t('meals.cycleDaysModal.description') }}</p>

                    <div class="form-group row">
                        <p class="col-sm-12 col-form-label"><strong>{{ $t('meals.cycleDaysModal.fromTitle') }}</strong></p>
                        <label for="src-days-from" class="col-sm-2 col-form-label">{{ $t('meals.cycleDaysModal.copyFromDay') }}</label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="src-days-from" name="src-start" v-model="srcStart">
                                <option v-for="day in days" :value="day">{{ day }}</option>
                            </select>
                        </div>
                        <label for="src-days-to" class="col-sm-2 col-form-label">{{ $t('meals.cycleDaysModal.copyToDay') }}</label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="src-days-to" name="src-end" v-model="srcEnd">
                                <option v-for="day in days" :value="day">{{ day }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <p class="col-sm-12 col-form-label"><strong>{{ $t('meals.cycleDaysModal.toTitle') }}</strong></p>
                        <label for="dst-days-from" class="col-sm-2 col-form-label">{{ $t('meals.cycleDaysModal.pasteFromDay') }}</label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="dst-days-from" name="dst-start"  v-model="dstStart">
                                <option v-for="day in days" :value="day">{{ day }}</option>
                            </select>
                        </div>
                        <label for="dst-days-to" class="col-sm-2 col-form-label">{{ $t('meals.cycleDaysModal.pasteToDay') }}</label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="dst-days-to" name="dst-end"  v-model="dstEnd">
                                <option v-for="day in days" :value="day">{{ day }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <small class="col-12 text-muted">{{ $t('meals.cycleDaysModal.tip') }}</small>
                    </div>

                    <div class="form-group row mt-4">
                        <div class="form-check custom-control custom-checkbox">
                            <div class="form-check pl-3">
                                <input type="checkbox" class="custom-control-input" id="rewrite-data" name="overwrite">
                                <label class="custom-control-label" for="rewrite-data">{{ $t('meals.cycleDaysModal.overwrite') }}</label>
                            </div>
                        </div>
                        <small class="col-12 text-muted">{{ $t('meals.cycleDaysModal.overwriteTip') }}</small>
                    </div>

                    <div class="form-group row" v-if="errorMessageVisible">
                        <small class="col-12 text-danger">{{ $t('meals.cycleDaysModal.overlappingRanges') }}</small>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('meals.cycleDaysModal.closeButton') }}</button>
                    <button type="submit" class="btn btn-primary" v-bind:disabled="errorMessageVisible">{{ $t('meals.cycleDaysModal.goButton') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" id="meals-app" v-cloak>
    <div class="row my-3">
        <div class="col">
            <span class="display-4" v-if="!tripLoading">{{ tripInfo.trip.name }}</span>
            <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>
        </div>
        <div class="col-auto d-flex flex-row-reverse align-items-end" v-if="!tripLoading && editor">
            <a class="btn btn-primary d-block d-lg-none" v-if="editor" :href="tripInfo.edit_link"><i class="fas fa-pen"></i></a>
        </div>
    </div>

    <div class="row my-lg-0 my-3" v-if="!tripLoading">
        <div class="col">
            <a class="btn btn-secondary w-100 d-block d-lg-none" :href="tripInfo.shopping_link">
                {{ $t('meals.card.shoppingButton') }}
            </a>
        </div>
        <div class="col">
            <a class="btn btn-secondary w-100 d-block d-lg-none" :href="tripInfo.packing_link">
                {{ $t('meals.card.packingButton') }}
            </a>
        </div>
    </div>
    <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-if="tripLoading"></span>

    <div class="row my-3" v-cloak>
        <div class="col-auto d-none d-lg-block">
            <trip-handling-card v-if="!tripLoading" :from-date="fromDate" :till-date="tillDate"
                                :editor="editor" :cover-src="tripInfo.cover_src" :attendees="tripInfo.attendees"
                                :shopping-link="tripInfo.trip.shopping_link" :packing-link="tripInfo.trip.packing_link" />
            <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>

            <div class="sticky-top py-3 px-4" style="width: 18rem;" v-if="!mealsLoading">
                <div class="w-100 d-flex flex-wrap">
                    <a class="btn btn-outline-secondary m-1" style="width: 45%;" v-for="day in days" :href="'#day' + day.number">
                        <i class="fas fa-angle-double-right"></i>
                        {{ $t('meals.day.numberPrefix') }} {{ day.number }}
                    </a>
                </div>
            </div>
            <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>
        </div>

        <div class="col" v-if="!mealsLoading">
            <div class="card shadow mb-3" v-if="!tripLoading">
                <h5 class="card-header">
                    {{ $t('meals.tools.header') }}
                    <a class="btn btn-sm btn-light float-right ml-1" :href="tripInfo.download_link">
                        <i class="fas fa-table"></i>
                    </a>
                    <button class="btn btn-sm btn-light float-right mx-1"
                            type="button" data-toggle="modal"
                            data-target="#cycle-days-modal"
                            v-if="editor">
                        <i class="fas fa-spinner"></i>
                    </button>
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-cookie-bite"></i> {{ $t('meals.tools.averageCals') }}:
                            {{ averageCals }}
                            {{ $t('meals.day.caloriesTitle') }}
                    </p>
                    <p class="card-text">
                        <i class="fas fa-cubes"></i> {{ $t('meals.tools.averageMass') }}:
                        {{ averageMass }}
                        {{ $t('meals.units.grams') }}
                    </p>
                </div>
            </div>
            <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>

            <day v-for="day in days" :day="day" :editor="editor" @reload="reload(day)"></day>
        </div>
        <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>
    </div>
</div>

{% endraw %}

<script src="{{ url_for('static', filename='js/meals.js') }}" type="module"></script>

{% endblock %}
