{% extends 'base.html' %} {% block content %}

<div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="add-product-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-product-modal-label">{{ string_table['Meals add modal title'] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-meal-form" name="meal" novalidate>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            {{ string_table['Meals add modal product title'] }}
                        </label>
                        <div class="input-group col-sm-10">
                            <input type="text" class="form-control col-7 col-md-8" v-model="currentProductName" disabled>
                            <div class="input-group-append col-5 col-md-4 px-0">
                                <button tabindex="7" class="btn btn-outline-secondary w-100 text-truncate" type="button" v-on:click="clearProduct()">
                                    {{ string_table['Meals add modal clear product button'] }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mass-input" class="col-sm-2 col-form-label">
                            {{ string_table['Meals add modal mass title'] }}
                        </label>
                        <div class="input-group col-sm-10">
                            <input tabindex="2" class="form-control col-7 col-md-8" id="mass-input" name="mass"
                                   placeholder="{{ string_table['Meals add modal mass placeholder'] }}"
                                   v-model="mass"
                                   autocomplete="off"
                                   v-bind:class="{ 'is-valid': validation.mass, 'is-invalid': !validation.mass }"
                                   @keyup="addMealKey"/>
                            <select tabindex="3" class="custom-select input-group-append col-5 col-md-4 rounded-right"
                                    v-model="unit">
                                {% raw %}
                                    <option v-for="unit in units" v-bind:value="unit.value">{{unit.name}}</option>
                                {% endraw %}
                            </select>
                            <div class="invalid-feedback">
                                {{ string_table['Meals add modal invalid mass error'] }}
                            </div>
                        </div>
                        <div class="input-group">

                        </div>
                    </div>
                </form>
                <div class="border-bottom"></div>

                <div class="input-group my-3">
                    <input tabindex="6"
                           type="text"
                           id="search-product-input"
                           class="form-control"
                           placeholder="{{ string_table['Meals add modal search placeholder'] }}"
                           v-on:input="searchProducts">
                </div>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th style="width: 8%">{{ string_table['Meals add modal id title'] }}</th>
                            <th>{{ string_table['Meals add modal name title'] }}</th>
                        </tr>
                    </thead>
                    <tbody id="found-products">
                        <tr v-for="product in products" v-on:click="setProduct(product.id, product.name)">
                            <th scope="row">
                                {% raw %}
                                    {{ product.id }}
                                {% endraw %}
                            </th>
                            <td>
                                <a tabindex="-1" v-on:click="setProduct(product.id, product.name)" href="javascript:void(0);">
                                    {% raw %}
                                        {{ product.name }}
                                    {% endraw %}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <span id="error-message" class="align-middle text-danger mx-3" v-if="errorMessageVisible">
                    {% raw %}
                        {{ errorMessage }}
                    {% endraw %}
                </span>
                <button tabindex="5" type="button" class="btn btn-secondary col-3" data-dismiss="modal">
                    {{ string_table['Meals add modal close button'] }}
                </button>
                <button tabindex="4" id="add-product-button" type="button" class="btn btn-primary col-3"
                        v-bind:disabled="submitDisabled" @click="addMeal">
                    <span class="spinner-border spinner-border-sm" v-if="spinnerVisible" role="status"></span>
                    {{ string_table['Meals add modal add button'] }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fatal-error-modal" tabindex="-1" role="dialog" aria-labelledby="fatal-error-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fatal-error-modal-label">
                    {{ string_table['Meals error modal title'] }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ string_table['Meals error modal text'] }}
            </div>
            <div class="modal-footer">
                <button id="reload-page-button" type="button" class="btn btn-primary">
                    {{ string_table['Meals error modal reload button'] }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-3">
        <div class="col">
            <h1 class="display-4">{{ trip['name'] }}</h1>
        </div>

        <div class="col-auto d-flex flex-row-reverse align-items-end">
            {% if g.user.access_group.value >= AccessGroup.TripManager.value %}
            <a class="btn btn-primary mb-3 d-block d-lg-none"
                href="{{ url_for('trips.edit', trip_id=trip['id']) }}">
                <i class="fas fa-pen"></i>
            </a>
            {% endif %}
        </div>
    </div>

    <div class="row my-lg-0 my-3">
        <div class="col">
            <a class="btn btn-secondary w-100 d-block d-lg-none" href="{{ url_for('reports.shopping', trip_id=trip['id']) }}">
                {{ string_table['Meals card shopping report button'] }}
            </a>
        </div>
        <div class="col">
            <a class="btn btn-secondary w-100 d-block d-lg-none" href="{{ url_for('reports.packing', trip_id=trip['id']) }}">
                {{ string_table['Meals card packing report button'] }}
            </a>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-auto d-none d-lg-block">
            <div class="card shadow" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/trips/{}.png'.format(trip['magic'])) }}" class="card-img-top" alt="">
                <h5 class="card-header">
                    {{ string_table['Meals card header'] }}
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-calendar-day"></i> {{ trip['from_date'].strftime('%d/%m') }} - {{ trip['till_date'].strftime('%d/%m') }}
                    </p>
                    <p class="card-text">
                        <i class="fas fa-walking"></i> {{ string_table['Meals card participants'] }}: {{ trip['attendees'] }} 
                    </p>
                    {% if g.user.access_group.value >= AccessGroup.TripManager.value %}
                    <a class="btn btn-primary w-100 my-1" href="{{ url_for('trips.edit', trip_id=trip['id']) }}">
                        <i class="fas fa-pen"></i> {{ string_table['Meals card edit button'] }}
                    </a>
                    {% endif %}
                    <a class="btn btn-secondary w-100 my-1" href="{{ url_for('reports.shopping', trip_id=trip['id']) }}">
                        <i class="fas fa-shopping-cart"></i> {{ string_table['Meals card shopping report button'] }}
                    </a>
                    <a class="btn btn-secondary w-100 my-1" href="{{ url_for('reports.packing', trip_id=trip['id']) }}">
                        <i class="fas fa-hiking"></i> {{ string_table['Meals card packing report button'] }}
                    </a>
                </div>
            </div>

            <div class="sticky-top py-3 px-4" style="width: 18rem;">
                <div class="w-100 d-flex flex-wrap">
                    {% for day in days %}
                    <a class="btn btn-outline-secondary m-1" style="width: 45%;" href="#day{{day['number']}}">
                        <i class="fas fa-angle-double-right"></i>
                        {{ string_table['Meals day number prefix'] }} {{day['number']}}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col">
            {% import 'meals/meals_day.html' as meals_day %}
            {% for day in days %}
            {{ meals_day.day(day_info=day, string_table=string_table) }}
            {% endfor %}
        </div>
    </div>
</div>

<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
    vm = new Vue({
        el: '#add-product-modal',
        data: {
            currentProductId: 0,
            currentProductName: '',
            mass: '',
            unit: undefined,
            products: [],
            units: [],
            spinnerVisible: false,
            errorMessage: ''
        },
        computed: {
            validation: function() {
                return {
                    mass: +this.mass > 0
                }
            },
            errorMessageVisible: function() {
                return this.errorMessage.length > 0
            },
            submitDisabled: function() {
                return this.currentProductId === 0 ||
                       this.validation.mass === false ||
                       this.units.length === 0 ||
                       this.spinnerVisible === true
            }
        },
        methods: {
            setProduct: function(productId, productName) {
                this.currentProductId = productId;
                this.currentProductName = productName;
                document.getElementById('mass-input').select();
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('api.products.product_units') }}",
                    data: {
                        'id': this.currentProductId
                    },
                    success: function (msg) {
                        if (msg.result == false) {
                            vm.units = []
                            return;
                        }

                        vm.units = []
                        for (unit of msg.units) {
                            var name = unit === 0 ? '{{ string_table["Meals grams unit"] }}' : '{{ string_table["Meals pcs unit"] }}'
                            vm.units.push({
                                name: name,
                                value: unit
                            })
                        }
                        vm.unit = 0;
                    }
                })
            },
            clearProduct: function() {
                this.currentProductId = 0;
                this.currentProductName = '';
            },
            searchProducts: function(event) {
                updateList($(event.target).val());
            },
            addMeal: function(event) {
                var day = $("#found-products").data("day");
                var mealName = $("#found-products").data("mealtype");
                if (this.validation.mass === false)
                    return;

                this.spinnerVisible = true;

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('api.meals.meals_add') }}",
                    data: {
                        'trip_id': "{{ trip['id'] }}",
                        'meal_name': mealName,
                        'day_number': day,
                        'product_id': this.currentProductId,
                        'mass': this.mass,
                        'unit': this.unit
                    },
                    success: function (msg) {
                        if (msg['result'] != true) {
                            vm.errorMessage = '{{ string_table["Meals unable to add meal error"] }}';
                        }
                        else {
                            reloadDay(day);
                            vm.currentProductId = 0;
                            vm.currentProductName = '';
                            vm.mass = '';
                            vm.units = [];
                            vm.unit = undefined;
                            vm.errorMessage = '';
                        }
                        vm.spinnerVisible = false;
                    }
                })
            },
            addMealKey: function(event) {
                if (event.key !== "Enter")
                    return;
                this.addMeal(event);
                event.preventDefault();
            }
        }
    })

    $(document).ready(function () {
        updateList('');
    });

    $(document).on('show.bs.modal', '#add-product-modal', function (event) {
        var button = $(event.relatedTarget);
        var day = button.data('day');
        var mealType = button.data('mealtype');
        var modal = $(this);
        modal.find("#found-products").data("day", day);
        modal.find("#found-products").data("mealtype", mealType);

        vm.currentProductId = 0;
        vm.currentProductName = '';
        vm.mass = '';
        vm.units = []
        vm.unit = undefined;
        vm.errorMessageVisible = false;

        setTimeout(() => {
            document.getElementById('search-product-input').focus();
        }, 500);
    })

    $(document).on('click', '#reload-page-button', function (event) {
        window.location.reload(true);
    })

    function removeProduct(dayNumber, mealId) {
        var url = "{{ url_for('api.meals.meals_remove') }}";
        $.ajax({
            type: "DELETE",
            url: url,
            data: "meal_id=" + mealId.toString(),
            success: function (msg) {
                if (msg['result'] != true) {
                    $("#fatal-error-modal").modal({
                        backdrop: 'static'
                    });
                }
                else {
                    reloadDay(dayNumber);
                }
            },
            error: function() {
                $("#fatal-error-modal").modal({
                    backdrop: 'static'
                });
            }
        });
    }

    function reloadDay(dayNumber) {
        var url = "{{ url_for('meals.days_view', trip_id=trip['id']) }}/day_table/" + dayNumber.toString();
        var dayElement = $("#day" + dayNumber.toString());
        $.ajax({
            type: "GET",
            url: url,
            success: function (msg) {
                dayElement.replaceWith(msg);
            },
            error: function() {
                $("#fatal-error-modal").modal({
                    backdrop: 'static'
                });
            }
        });
    }

    var lastRequestHandle = undefined;
    function updateList(value) {
        if (lastRequestHandle) {
            clearTimeout(lastRequestHandle);
        }

        lastRequestHandle = setTimeout(function () {
            $.ajax({
                type: "GET",
                url: "{{ url_for('api.products.products_search') }}",
                data: {
                    'name': value,
                    'count': '10'
                },
                success: function (msg) {
                    lastRequestHandle = undefined;

                    if (msg.result !== true)
                        return;

                    vm.products = []
                    for (product of msg.products) {
                        vm.products.push({
                            id: product['id'],
                            name: product['name']
                        })
                    }
                },
                error: function () {
                    $("#fatal-error-modal").modal({
                        backdrop: 'static'
                    });
                }
            })
        }, 500)
    }
</script>

{% endblock %}