{% extends 'base.html' %} {% block content %}

<script>
    const globals = {
        urls: {
            userInfo: '{{ url_for("api.auth.user") }}',
            tripInfo: '{{ url_for("api.trips.get_info", trip_id=trip["id"]) }}',
            productUnits: '{{ url_for("api.products.product_units", _external=True) }}',
            addMeal: '{{ url_for("api.meals.meals_add") }}',
            removeMeal: '{{ url_for("api.meals.meals_remove") }}',
            clearMeals: '{{ url_for("api.meals.meals_clear") }}',
            productsSearch: '{{ url_for("api.products.search", _external=True) }}',
            mealsInfo: '{{ url_for("api.meals.get_meals", trip_id=trip["id"]) }}',
            cycleDays: '{{ url_for("meals.cycle_days", trip_id=trip["id"]) }}'
        },
        trip: {
            id : "{{ trip['id'] }}"
        }
    }
</script>

{% raw %}
<div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="add-product-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-product-modal-label">{{ $t('meals.addModal.title') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-meal-form" name="meal" novalidate>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">
                            {{ $t('meals.addModal.productTitle') }}
                        </label>
                        <div class="input-group col-sm-10">
                            <input type="text" class="form-control col-7 col-md-8" v-model="currentProductName" disabled>
                            <div class="input-group-append col-5 col-md-4 px-0">
                                <button tabindex="7" class="btn btn-outline-secondary w-100 text-truncate" type="button" @click="clearProduct()">
                                    {{ $t('meals.addModal.clearProductButton') }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mass-input" class="col-sm-2 col-form-label">
                            {{ $t('meals.addModal.massTitle') }}
                        </label>
                        <div class="input-group col-sm-10">
                            <input tabindex="2" class="form-control col-7 col-md-8" id="mass-input" name="mass"
                                   :placeholder="$t('meals.addModal.massPlaceholder')"
                                   v-model="mass"
                                   autocomplete="off"
                                   :class="{ 'is-valid': validation.mass, 'is-invalid': !validation.mass }"
                                   @keyup="addMealKey"/>
                            <select tabindex="3" class="custom-select input-group-append col-5 col-md-4 rounded-right"
                                    v-model="unit">
                                    <option v-for="unit in units" v-bind:value="unit.value">{{unit.name}}</option>
                            </select>
                            <div class="invalid-feedback">
                                {{ $t('meals.addModal.invalidMassError') }}
                            </div>
                        </div>
                        <div class="input-group">

                        </div>
                    </div>
                </form>
                <div class="border-bottom"></div>

                <div class="input-group my-3">
                    <input tabindex="6"
                           type="text"
                           id="search-product-input"
                           class="form-control"
                           :placeholder="$t('meals.addModal.searchPlaceholder')"
                           @input="searchProducts">
                </div>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th style="width: 8%">{{ $t('meals.addModal.idTitle') }}</th>
                            <th>{{ $t('meals.addModal.nameTitle') }}</th>
                        </tr>
                    </thead>
                    <tbody id="found-products">
                        <tr v-for="product in products" @click="setProduct(product.id, product.name)">
                            <th scope="row">
                                {{ product.id }}
                            </th>
                            <td>
                                <a tabindex="-1" @click="setProduct(product.id, product.name)" href="javascript:void(0);">
                                    {{ product.name }}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <span id="error-message" class="align-middle text-danger mx-3" v-if="errorMessageVisible">
                    {{ errorMessage }}
                </span>
                <button tabindex="5" type="button" class="btn btn-secondary col-3" data-dismiss="modal">
                    {{ $t('meals.addModal.closeButton') }}
                </button>
                <button tabindex="4" id="add-product-button" type="button" class="btn btn-primary col-3"
                        v-bind:disabled="submitDisabled" @click="addMeal">
                    <span class="spinner-border spinner-border-sm" v-if="spinnerVisible" role="status"></span>
                    {{ $t('meals.addModal.addButton') }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fatal-error-modal" tabindex="-1" role="dialog" aria-labelledby="fatal-error-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fatal-error-modal-label">
                    {{ $t('meals.errorModal.title') }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ $t('meals.errorModal.text') }}
            </div>
            <div class="modal-footer">
                <button id="reload-page-button" type="button" class="btn btn-primary" @click="window.location.reload(true)">
                    {{ $t('meals.errorModal.reloadButton') }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cycle-days-modal" tabindex="-1" role="dialog" aria-labelledby="cycle-days-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" :action="cycleDaysLink">
                <div class="modal-header">
                    <h5 class="modal-title" id="cycle-days-modal-label">{{ $t('meals.cycleDaysModal.title') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ $t('meals.cycleDaysModal.description') }}</p>

                    <div class="form-group row">
                        <p class="col-sm-12 col-form-label"><strong>{{ $t('meals.cycleDaysModal.fromTitle') }}</strong></p>
                        <label for="src-days-from" class="col-sm-2 col-form-label">{{ $t('meals.cycleDaysModal.copyFromDay') }}</label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="src-days-from" name="src-start" v-model="srcStart">
                                <option v-for="day in days" :value="day">{{ day }}</option>
                            </select>
                        </div>
                        <label for="src-days-to" class="col-sm-2 col-form-label">{{ $t('meals.cycleDaysModal.copyToDay') }}</label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="src-days-to" name="src-end" v-model="srcEnd">
                                <option v-for="day in days" :value="day">{{ day }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <p class="col-sm-12 col-form-label"><strong>{{ $t('meals.cycleDaysModal.toTitle') }}</strong></p>
                        <label for="dst-days-from" class="col-sm-2 col-form-label">{{ $t('meals.cycleDaysModal.pasteFromDay') }}</label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="dst-days-from" name="dst-start"  v-model="dstStart">
                                <option v-for="day in days" :value="day">{{ day }}</option>
                            </select>
                        </div>
                        <label for="dst-days-to" class="col-sm-2 col-form-label">{{ $t('meals.cycleDaysModal.pasteToDay') }}</label>
                        <div class="col-sm-4">
                            <select class="custom-select" id="dst-days-to" name="dst-end"  v-model="dstEnd">
                                <option v-for="day in days" :value="day">{{ day }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <small class="col-12 text-muted">{{ $t('meals.cycleDaysModal.tip') }}</small>
                    </div>

                    <div class="form-group row mt-4">
                        <div class="form-check custom-control custom-checkbox">
                            <div class="form-check pl-3">
                                <input type="checkbox" class="custom-control-input" id="rewrite-data" name="overwrite">
                                <label class="custom-control-label" for="rewrite-data">{{ $t('meals.cycleDaysModal.overwrite') }}</label>
                            </div>
                        </div>
                        <small class="col-12 text-muted">{{ $t('meals.cycleDaysModal.overwriteTip') }}</small>
                    </div>

                    <div class="form-group row" v-if="errorMessageVisible">
                        <small class="col-12 text-danger">{{ $t('meals.cycleDaysModal.overlappingRanges') }}</small>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('meals.cycleDaysModal.closeButton') }}</button>
                    <button type="submit" class="btn btn-primary" v-bind:disabled="errorMessageVisible">{{ $t('meals.cycleDaysModal.goButton') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" id="meals-app" v-cloak>
    <div class="row my-3">
        <div class="col">
            <span class="display-4" v-if="!tripLoading">{{ tripInfo.trip.name }}</span>
            <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>
        </div>
        <div class="col-auto d-flex flex-row-reverse align-items-end" v-if="editor">
            <a class="btn btn-primary d-block d-lg-none" v-if="!userLoading"
            :href="tripInfo.edit_link">
            <i class="fas fa-pen"></i>
        </a>
        <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>
        </div>
    </div>

    <div class="row my-lg-0 my-3" v-if="!tripLoading">
        <div class="col">
            <a class="btn btn-secondary w-100 d-block d-lg-none" :href="tripInfo.shopping_link">
                {{ $t('meals.card.shoppingButton') }}
            </a>
        </div>
        <div class="col">
            <a class="btn btn-secondary w-100 d-block d-lg-none" :href="tripInfo.packing_link">
                {{ $t('meals.card.packingButton') }}
            </a>
        </div>
    </div>
    <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>

    <div class="row my-3" v-cloak>
        <div class="col-auto d-none d-lg-block">
            <trip-handling-card v-if="!tripLoading && !userLoading" :from-date="fromDate" :till-date="tillDate"
                                :editor="editor" :cover-src="tripInfo.cover_src" :attendees="tripInfo.attendees"
                                :shopping-link="tripInfo.shopping_link" :packing-link="tripInfo.packing_link"
                                :edit-link="tripInfo.edit_link"></trip-handling-card>
            <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>

            <div class="sticky-top py-3 px-4" style="width: 18rem;" v-if="!mealsLoading">
                <div class="w-100 d-flex flex-wrap">
                    <a class="btn btn-outline-secondary m-1" style="width: 45%;" v-for="day in days" :href="'#day' + day.number">
                        <i class="fas fa-angle-double-right"></i>
                        {{ $t('meals.day.numberPrefix') }} {{ day.number }}
                    </a>
                </div>
            </div>
            <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>
        </div>

        <div class="col" v-if="!mealsLoading">
            <div class="card shadow mb-3" v-if="!tripLoading">
                <h5 class="card-header">
                    {{ $t('meals.tools.header') }}
                    <a class="btn btn-sm btn-light float-right ml-1" :href="tripInfo.download_link">
                        <i class="fas fa-table"></i>
                    </a>
                    <button class="btn btn-sm btn-light float-right mx-1"
                            type="button" data-toggle="modal"
                            data-target="#cycle-days-modal"
                            v-if="editor">
                        <i class="fas fa-spinner"></i>
                    </button>
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-cookie-bite"></i> {{ $t('meals.tools.averageCals') }}:
                            {{ averageCals }}
                            {{ $t('meals.day.caloriesTitle') }}
                    </p>
                    <p class="card-text">
                        <i class="fas fa-cubes"></i> {{ $t('meals.tools.averageMass') }}:
                        {{ averageMass }}
                        {{ $t('meals.units.grams') }}
                    </p>
                </div>
            </div>
            <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>

            <day v-for="day in days" :day="day" :editor="editor" @reload="reload(day)"></day>
        </div>
        <span class="spinner-border spinner-border-lg ml-3" role="status" aria-hidden="true" v-else></span>
    </div>
</div>

<!-- production version, optimized for size and speed -->
<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/vue-i18n@9"></script>

<script type="module">
{% endraw %}
    import Day from '{{ url_for("static", filename="js/components/Day.js") }}'
    import TripHandlingCard from '{{ url_for("static", filename="js/components/TripHandlingCard.js") }}'
{% raw %}

    const messages = {
        ru: {
            meals: {
                card: {
                    header: 'Информация о походе',
                    participants: 'Участников',
                    editButton: 'Редактировать',
                    shoppingButton: 'Список покупок',
                    packingButton: 'Отчет для фасовки'
                },
                tools: {
                    header: 'Статистика и инструменты',
                    averageCals: 'Средняя калорийность (в день)',
                    averageMass: 'Средняя масса (в день)',
                },
                cycleDaysModal: {
                    title: 'Скопировать дни',
                    description: 'Если вы наполнили несколько дней похода, то вы можете циклично скопировать их во все остальные. Выберите сколько дней скопировать, в какие дни их поместить и нажмите "Скопировать".',
                    closeButton: 'Закрыть',
                    goButton: 'Скопировать',
                    fromTitle: 'Копировать дни:',
                    toTitle: 'Вставить дни:',
                    copyFromDay: 'С',
                    copyToDay: 'По',
                    pasteFromDay: 'С',
                    pasteToDay: 'По',
                    tip: 'Например, вы выбрали копирование дней 3–5 на дни 8–13. В таком случае, дни будут скопированы следующим образом: в дне 8 окажется содержимое дня 3, в 9 — 4, в 10 — 5, в 11 — 3, в 12 — 4, в 13 — 5.',
                    overlappingRanges: 'Исходные и целевые дни пересекаются. Убедитесь, что вы не копируете дни в самих себя.',
                    overwrite: 'Перезаписать содержимое целевых дней',
                    overwriteTip: 'Если выберете эту опцию, то все данные в целевых днях будут удалены, а вместо них записаны скопированные. Эта операция необратима.',
                },
                day: {
                    caloriesTitle: 'Ккал',
                    numberPrefix: 'День',
                    nameTitle: 'Название',
                    massTitle: 'Масса',
                    proteinsTitle: 'Б',
                    fatsTitle: 'Ж',
                    carbsTitle: 'У',
                    caloriesTitle: 'Ккал',
                    breakfastTitle: 'Завтрак',
                    lunchTitle: 'Обед',
                    dinnerTitle: 'Ужин',
                    snacksTitle: 'Перекусы',
                    resultsTitle: 'Сумма за день',
                    tableDeleteRecord: 'Удалить',
                    tableTotalRecord: 'Итого',
                    numberPrefix: 'День',
                    clearDayButton: 'Очистить',
                },
                units: {
                    grams: 'г',
                    pcs: 'шт'
                },
                errors: {
                    unableToAddMeal: 'Невозможно добавить продукт'
                },
                addModal: {
                    title: 'Добавить продукт',
                    idTitle: '#',
                    nameTitle: 'Название',
                    massTitle: 'Масса',
                    productTitle: 'Продукт',
                    searchPlaceholder: 'Искать продукт',
                    massPlaceholder: 'Введите массу',
                    closeButton: 'Закрыть',
                    addButton: 'Добавить',
                    clearProductButton: 'Очистить',
                    invalidMassError: 'Введите положительное число'
                },
                errorModal: {
                    title: 'Ошибка соединения',
                    text: 'Произошла ошибка соединения с сервером. Попробуйте перезагрузить страницу.',
                    reloadButton: 'Перезагрузить'
                }
            }
        },
        en: {
            meals: {
                card: {
                    header: 'Trip information',
                    participants: 'Participants',
                    editButton: 'Edit',
                    shoppingButton: 'Shopping list',
                    packingButton: 'Packing list'
                },
                tools: {
                    header: 'Statistics and tools',
                    averageCals: 'Average calories (per day)',
                    averageMass: 'Average mass (per day)',
                },
                cycleDaysModal: {
                    title: 'Copy days',
                    description: 'If you filled some days in a trip you can copy them onto other days to avoid filling the same data manually. Choose how many days you want to copy, what days are destinations, and press "Copy" button.',
                    closeButton: 'Close',
                    goButton: 'Copy',
                    fromTitle: 'Copy days:',
                    toTitle: 'Paste days:',
                    copyFromDay: 'From',
                    copyToDay: 'To',
                    pasteFromDay: 'From',
                    pasteToDay: 'To',
                    tip: 'For example you have selected copying days 3–5 into days 8–13. In this case day 8 will be filled with day 3 data, day 9 with day 4 and etc.',
                    overlappingRanges: 'Source and target days are overlapping. Make sure you are not copying days into themselves.',
                    overwrite: 'Overwrite target days',
                    overwriteTip: 'If you choose the option all the data in target days will be removed and replaced. This operation could not be revert back.',
                },
                day: {
                    caloriesTitle: 'Kcal',
                    numberPrefix: 'Day',
                    nameTitle: 'Name',
                    massTitle: 'Mass',
                    proteinsTitle: 'P',
                    fatsTitle: 'F',
                    carbsTitle: 'C',
                    caloriesTitle: 'Kcal',
                    breakfastTitle: 'Breakfast',
                    lunchTitle: 'Lunch',
                    dinnerTitle: 'Dinner',
                    snacksTitle: 'Snacks',
                    resultsTitle: 'Day total',
                    tableDeleteRecord: 'Remove',
                    tableTotalRecord: 'Total',
                    numberPrefix: 'Day',
                    clearDayButton: 'Clear',
                },
                units: {
                    grams: 'g',
                    pcs: 'pcs'
                },
                errors: {
                    unableToAddMeal: 'Unable to add a product'
                },
                addModal: {
                    title: 'Add product',
                    idTitle: '#',
                    nameTitle: 'Name',
                    massTitle: 'Mass',
                    productTitle: 'Product',
                    searchPlaceholder: 'Search for a product',
                    massPlaceholder: 'Enter mass',
                    closeButton: 'Close',
                    addButton: 'Add',
                    clearProductButton: 'Clear',
                    invalidMassError: 'Enter a positive number'
                },
                errorModal: {
                    title: 'Connection error',
                    text: 'Something gone wrong. Try to reload a page.',
                    reloadButton: 'Reload'
                }
            }
        }
    }

    const i18n = VueI18n.createI18n({
        locale: 'ru',
        fallbackLocale: 'en',
        messages,
    })

    const { createApp } = Vue

    let addProdApp = createApp({
        data() {
            return {
                currentProductId: 0,
                currentProductName: '',
                mass: '',
                unit: undefined,
                products: [],
                units: [],
                spinnerVisible: false,
                errorMessage: '',
                lastRequestHandle: undefined,
                day: 0,
                mealName: ''
            }
        },
        computed: {
            validation: function () {
                return {
                    mass: +this.mass > 0
                }
            },
            errorMessageVisible: function () {
                return this.errorMessage.length > 0
            },
            submitDisabled: function () {
                return this.currentProductId === 0 ||
                    this.validation.mass === false ||
                    this.units.length === 0 ||
                    this.spinnerVisible === true
            }
        },
        methods: {
            setProduct: function (productId, productName) {
                this.currentProductId = productId;
                this.currentProductName = productName;
                document.getElementById('mass-input').select();
                let url = new URL(globals.urls.productUnits);
                url.searchParams.set('id', this.currentProductId);

                let localApp = this
                fetch(url)
                    .then(response => response.json())
                    .then(msg => {
                        localApp.units = []
                        if (msg.result === false)
                            return;

                        for (let unit of msg.units) {
                            let name = unit === 0 ? localApp.$t('meals.units.grams') : localApp.$t('meals.units.pcs')
                            localApp.units.push({
                                name: name,
                                value: unit
                            })
                        }
                        localApp.unit = 0;
                    })
                    .catch(error => {
                        $("#fatal-error-modal").modal({
                            backdrop: 'static'
                    });
                })
            },
            clearProduct: function () {
                this.currentProductId = 0;
                this.currentProductName = '';
            },
            searchProducts: function (event) {
                this.updateList($(event.target).val());
            },
            addMeal: function (event) {
                if (this.validation.mass === false)
                    return;

                this.spinnerVisible = true;

                let url = globals.urls.addMeal
                let body = JSON.stringify({
                    'trip_id': globals.trip.id,
                    'meal_name': this.mealName,
                    'day_number': this.day.number,
                    'product_id': this.currentProductId,
                    'mass': this.mass,
                    'unit': this.unit
                })

                let localApp = this
                fetch(url, {
                    method: "POST",
                    body: body,
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(response => response.json())
                .then(msg => {
                    if (msg.result != true) {
                        localApp.errorMessage = localApp.$t('meals.errors.unableToAddMeal')
                    } else {
                        mountedMealsApp.reload(localApp.day);
                        localApp.currentProductId = 0;
                        localApp.currentProductName = '';
                        localApp.mass = '';
                        localApp.units = [];
                        localApp.unit = undefined;
                        localApp.errorMessage = '';
                    }
                    localApp.spinnerVisible = false;
                })
                .catch(error => {
                    $("#fatal-error-modal").modal({
                        backdrop: 'static'
                    });
                })
            },
            addMealKey: function (event) {
                if (event.key !== "Enter")
                    return;

                this.addMeal(event);
                event.preventDefault();
            },
            updateList: function(value) {
                if(this.lastRequestHandle) {
                    clearTimeout(this.lastRequestHandle);
                }

                var instance = this
                this.lastRequestHandle = setTimeout(async () => {
                    let url = new URL(globals.urls.productsSearch)
                    url.searchParams.set('search', value)
                    try {
                        const res = await fetch(url)
                        let response = await res.json()
                        instance.lastRequestHandle = undefined;
                        instance.products = []
                        for (let product of response.products) {
                            instance.products.push({
                                id: product['id'],
                                name: product['name']
                            })
                        }
                    } catch (error) {
                        $("#fatal-error-modal").modal({
                            backdrop: 'static'
                        });
                    }
                }, 500)
            }
        },
        mounted() {
            this.updateList('')
        }
    })
    addProdApp.use(i18n)
    let mountedAddProdApp = addProdApp.mount('#add-product-modal')

    let fatalErrorApp = createApp({})
    fatalErrorApp.use(i18n)
    fatalErrorApp.mount('#fatal-error-modal')

    let cycleDaysApp = createApp({
        data() {
            return {
                daysCount: 0,
                srcStart: 1,
                srcEnd: 1,
                dstStart: 0,
                dstEnd: 0,
            }
        },
        computed: {
            errorMessageVisible: function () {
                return parseInt(this.srcStart) == parseInt(this.dstStart)
                    || parseInt(this.srcStart) == parseInt(this.dstEnd)
                    || parseInt(this.srcEnd) == parseInt(this.dstStart)
                    || parseInt(this.srcEnd) == parseInt(this.dstEnd)
                    || (parseInt(this.dstStart) > parseInt(this.srcStart) && parseInt(this.dstStart) < parseInt(this.srcEnd))
                    || (parseInt(this.dstEnd) > parseInt(this.srcStart) && parseInt(this.dstEnd) < parseInt(this.srcEnd))
            },
            cycleDaysLink() {
                return globals.urls.cycleDays
            },
            days() {
                return Array.from(Array(this.daysCount).keys()).map(i => i + 1)
            }
        },
        mounted () {
            let appInstance = this
            fetch(globals.urls.tripInfo)
                .then(response => response.json())
                .then(msg => {
                    appInstance.daysCount = msg.trip.days_count
                    appInstance.dstStart = appInstance.daysCount > 1 ? 2 : 1
                    appInstance.dstEnd = appInstance.daysCount
                })
        }
    })
    cycleDaysApp.use(i18n)
    cycleDaysApp.mount('#cycle-days-modal')

    let mealsApp = createApp({
        components: {
            TripHandlingCard,
            Day
        },
        data() {
            return {
                days: [],
                group: '',
                tripInfo: {},
                tripLoading: true,
                userLoading: true,
                mealsLoading: true
            }
        },
        computed: {
            editor() {
                return this.group === 'TripManager' || this.group === 'Administrator'
            },
            averageCals() {
                let sum = 0.0
                for (let day of this.days) {
                    for (let key of Object.keys(day.meals)) {
                        for (let record of day.meals[key]) {
                            sum += record.calories
                        }
                    }
                }
                return (sum / this.days.length).toFixed(1)
            },
            averageMass() {
                let sum = 0.0
                for (let day of this.days) {
                    for (let key of Object.keys(day.meals)) {
                        for (let record of day.meals[key]) {
                            sum += record.mass
                        }
                    }
                }
                return (sum / this.days.length).toFixed(1)
            },
            fromDate() {
                const date = new Date(this.tripInfo.trip.from_date)
                return date.toLocaleDateString()
            },
            tillDate() {
                const date = new Date(this.tripInfo.trip.till_date)
                return date.toLocaleDateString()
            }
        },
        mounted() {
            var instance = this
            fetch(globals.urls.userInfo)
                .then(response => response.json())
                .then(data => {
                    instance.group = data.access_group
                    instance.userLoading = false
                })
                .catch(error => {
                    $("#fatal-error-modal").modal({
                        backdrop: 'static'
                    });
                })

            fetch(globals.urls.mealsInfo)
                .then(response => response.json())
                .then(data => {
                    instance.days = data.days
                    instance.mealsLoading = false
                })
                .catch(error => {
                    $("#fatal-error-modal").modal({
                        backdrop: 'static'
                    });
                })

            fetch(globals.urls.tripInfo)
                .then(response => response.json())
                .then(msg => {
                    instance.tripInfo = msg
                    instance.tripLoading = false
                })
                .catch(error => {
                    $("#fatal-error-modal").modal({
                        backdrop: 'static'
                    });
                })
        },
        methods: {
            reload(day) {
                let localApp = this
                fetch(day.reload_link)
                    .then(response => response.json())
                    .then(data => {
                        localApp.days[data.day.number - 1] = data.day
                    })
                    .catch(error => {
                        $("#fatal-error-modal").modal({
                            backdrop: 'static'
                        });
                    })
            }
        }
    })
    mealsApp.use(i18n)
    let mountedMealsApp = mealsApp.mount('#meals-app')

    $(document).on('show.bs.modal', '#add-product-modal', function (event) {
        let button = $(event.relatedTarget);
        let day = button.data('day');
        let mealType = button.data('mealtype');
        let reloadLink = button.data('reloadlink')

        mountedAddProdApp.day = {number: day, reload_link: reloadLink};
        mountedAddProdApp.mealName = mealType;
        mountedAddProdApp.currentProductId = 0;
        mountedAddProdApp.currentProductName = '';
        mountedAddProdApp.mass = '';
        mountedAddProdApp.units = []
        mountedAddProdApp.unit = undefined;

        setTimeout(() => {
            document.getElementById('search-product-input').focus();
        }, 500);
    })
</script>

{% endraw %}

{% endblock %}
