<!DOCTYPE html>
<html>

<head>
    <script src="https://browser.sentry-cdn.com/5.9.1/bundle.min.js"
        integrity="sha384-/x1aHz0nKRd6zVUazsV6CbQvjJvr6zQL2CHbQZf3yoLkezyEtZUpqUNnOLW9Nt3v"
        crossorigin="anonymous"></script>
</head>

<body>
    {% if sentry_event_id %}
    <script>
        Sentry.init({ dsn: 'https://a198fb0c66fb462c9391e0352f4499f0@sentry.io/1842107' });
        Sentry.showReportDialog({
            eventId: '{{ sentry_event_id }}',
            title: '{{ string_table["Sentry title"] }}',
            subtitle: '{{ string_table["Sentry subtitle"] }}',
            subtitle2: '{{ string_table["Sentry subtitle2"] }}',
            labelName: '{{ string_table["Sentry label name"] }}',
            labelEmail: '{{ string_table["Sentry label email"] }}',
            labelComments: '{{ string_table["Sentry label comments"] }}',
            labelClose: '{{ string_table["Sentry label close"] }}',
            labelSubmit: '{{ string_table["Sentry label submit"] }}',
            errorGeneric: '{{ string_table["Sentry error generic"] }}',
            errorFormEntry: '{{ string_table["Sentry error form entry"] }}',
            successMessage: '{{ string_table["Sentry success message"] }}',
        })
    </script>
    {% endif %}

    <h1>{{ string_table['Internal error 500 message'] }}</h1>
</body>

</html>