<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome/css/solid.min.css') }}"/>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

    <script>
        function setActive(elementId) {
            var element = document.getElementById(elementId);
            element.classList.add("active");
        }
    </script>

    <title>{{ string_table['Site title'] }}</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <a class="navbar-brand" href="{{ url_for('index') }}">{{ string_table['Navbar title'] }}</a>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                <a id="trips-link" class="nav-item nav-link" href="{{ url_for('trips.index') }}"><i class="fas fa-route"></i> {{ string_table['Navbar trips link title'] }}</a>
                <a id="products-link" class="nav-item nav-link" href="{{ url_for('products.index') }}"><i class="fas fa-pizza-slice"></i> {{ string_table['Navbar products link title'] }}</a>
                {% if g.user.access_group == AccessGroup.Administrator %}
                <a id="users-link" class="nav-item nav-link" href="{{ url_for('users.index') }}"><i class="fas fa-users"></i> {{ string_table['Navbar users link title'] }}</a>
                <a id="developer-console-link" class="nav-item nav-link" href="{{ url_for('developer.console') }}"><i class="fas fa-terminal"></i> {{ string_table['Navbar console link title'] }}</a>
                {% endif %}
                <a id="info-link" class="nav-item nav-link" href="{{ url_for('info.index') }}"><i class="fas fa-info"></i> {{ string_table['Navbar info link title'] }}</a>
            </div>

            <form class="form-inline my-2 my-lg-0">
                {% if g.user.photo_url %}
                <img src="{{ g.user.photo_url }}" class="img-fluid rounded-circle mr-2" style="height: 2em;">
                {% endif %}
                <label class="mr-3">{{ g.user.displayed_name if g.user.displayed_name else g.user.login }}</label>
                <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('auth.logout') }}">{{ string_table['Navbar logout title'] }} <i class="fas fa-sign-out-alt"></i></a>
            </form>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>