<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />

    <title>{{ string_table['Site title'] }}</title>
</head>

<body class="bg-light">
    <div class="container">
        <div class="row my-3">
            <div class="col"></div>
            <div class="col-xl-5 col-lg-6 col-md-8 col-xs-12">
                <form action="{{ url_for('auth.login') }}" method="POST" class="shadow p-4 m-3 bg-white rounded">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <h2 class="text-center my-3">{{ string_table['Login title'] }}</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{ string_table['Login username placeholder'] }}" required="required" name="login">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="{{ string_table['Login password placeholder'] }}" required="required" name="password">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="remember-me-check" name="remember">
                            <label class="custom-control-label" for="remember-me-check">{{ string_table['Login remember me title'] }}</label>
                        </div>
                    </div>
                    <input class="d-none" name="redirect" value="{{ redirect }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">{{ string_table['Login login button'] }}</button>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-block text-white" style="background-color: #4a76a8;" href="{{ url_for('auth.vk_login', redirect=redirect) }}">
                            {{ string_table['Login login with vk button'] }}
                        </a>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>