{% extends 'base.j2' %} {% block content %}

<div class="container">
    <h1 class="display-4 my-3">{{ trip['name'] }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow" style="width: 18rem;">
                <img src="{{ url_for('static', filename='image.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trip information</h5>
                    <p class="card-text">From: {{ trip['from_date'] }}</p>
                    <p class="card-text">Until: {{ trip['till_date'] }}</p>
                    <a type="button" class="btn btn-primary" href="{{ url_for('trips.edit', trip_id=trip['id']) }}">Edit the trip</a>
                </div>
            </div>
        </div>

        <div class="col-8">
            <table class="table">
                <th>Day</th>
                <th>Meal</th>
                <th>Amount</th>
                <th>Total amount</th>
            </table>
        </div>
    </div>
</div>
{% endblock %}