{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
    $("#trips-link").addClass("active");

    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'right',
            autoApply: true,
            locale: {
                format: "YYYY-MM-DD"
            }
        }, function (start, end, label) {
            console.log(end.diff(start, 'days'));
        });
    });

    var initialName = "{{ trip['name'] if trip else '' }}"
    var initialDates = "{{ trip['from_date'] if trip else '2019-01-01' }} - {{ trip['till_date'] if trip else '2019-01-01' }}"
    function getInitialGroups() {
        return [
            {% if groups: %} {% for group in groups: %}
            { id: {{ loop.index }}, number: {{ loop.index }}, name: 'group{{ loop.index }}', count: {{ group }} },
            {% endfor %} {% endif %}
        ]
    }

</script>

<div id="edit-app" class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row my-3">
        <div class="col"></div>
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <div class="col"></div>
    </div>
    {% endif %}
    {% endwith %}

    <div class="row my-3">
        <div class="col"></div>
        <div class="col-md-6">
            <form class="p-4 m-3 border shadow bg-white" id="input-form" action="{{ submit_url }}" method="POST" novalidate>
                <h2 class="text-center my-3">{{ caption }}</h2>

                <div class="form-group">
                    <label for="input-name">Title</label>
                    <input type="text" class="form-control"
                           id="input-name" name="name"
                           aria-describedby="name-help" placeholder="Enter name"
                           autofocus autocomplete="off"
                           v-model="tripName"
                           v-bind:class="{ 'is-valid': validation.name, 'is-invalid': !validation.name }">
                    <div class="invalid-feedback">This field must not be empty</div>
                </div>

                <div class="form-group">
                    <label for="input-date">Dates of the trip</label>
                    <input class="form-control" name="daterange"
                           autocomplete="off" type="text" id="input-date"
                           v-model="tripDates"
                           v-bind:class="{ 'is-valid': validation.dates, 'is-invalid': !validation.dates }">
                    <div class="invalid-feedback">The dates must be in a format like '2019-01-01 - 2019-01-31'</div>
                </div>

                <div class="form-group">
                    <p class="font-weight-bold mt-4 mb-1">Groups configuration</p>
                    <label for="input-attendees">How many people groups you have?</label>
                    <select class="custom-select" @change="changeGroups()"
                            v-model="selectedGroupsCount"
                            v-bind:class="{ 'is-valid': validation.groupsSelector, 'is-invalid': !validation.groupsSelector }">
                        <option value="1">1 group</option>
                        <option value="2">2 groups</option>
                        <option value="3">3 groups</option>
                        <option value="4">4 groups</option>
                        <option value="5">5 groups</option>
                    </select>
                    <small class="form-text text-muted">People group is a group where all persons eat from one pot.</small>
                </div>

                <!-- HERE GO GROUPS -->
                <div class="form-group">
                    <user-group
                        v-for="group in groups"
                        v-bind:key="group.id"
                        v-bind:group="group"
                        v-bind:validator="function(n) { console.log(n); return /^[0-9]+$/.test(n) && +n > 0; }"
                    ></user-group>
                </div>

                <div class="form-group row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col pr-1">
                                <button type="submit" class="btn btn-primary w-100">{{ submit_caption }}</button>
                            </div>
                            <div class="col pl-1">
                                <a class="btn btn-secondary w-100" href="{{ close_url }}">Close</a>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col-auto">
                        {% if archive_button %}
                        <button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#archive-modal">
                            <i class="fas fa-archive"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>

    {% if archive_button %}
    <div class="modal fade" id="archive-modal" tabindex="-1" role="dialog" aria-labelledby="archive-modal-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="archive-modal-title">Archive a trip?</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to archive this trip?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="{{ url_for('trips.archive', trip_id=trip['id']) }}">Archive</a>
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="application/javascript" src="{{ url_for('static', filename='trip_edit.js') }}"></script>

{% endblock %}