{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row my-3">
        <div class="col">
            <span class="display-4">Ошибка</span>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <div class="alert alert-danger">
                <h4 class="alert-heading">Неправильная ссылка</h4>
                <p>Похоже, что эта ссылка истекла или изначально была неверной. Попросите создателя похода создать новую ссылку и перейдите по ней.</p>
                <hr>
                <p class="mb-0">А поскольку эта страница совсем пустая и неинтересная, то мы отправимся на главную через 5 секунд.</p>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        window.location.href = '/trips';
    }, 5000);
</script>

{% endblock %}
