{% extends 'base.html' %}
{% block content %}

<script>
    $("#trips-link").addClass("active");
</script>

{% if no_trips %}

<div class="container">
    <div class="row my-3">
        <h1 class="display-4">Trips</h1>
    </div>

    {% if g.user.access_group.value >= AccessGroup.TripManager.value %}
    <div class="row my-3">
        <div class="jumbotron shadow">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">We have discovered that you have no trips planned. The whole beatiful world is waiting for
                you to open it. Let's discover the world together!</p>
            <hr class="my-4">
            <p>Start doing great things by clicking this button. We just need a bit info from you, this won't take a
                long time.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('trips.add') }}" role="button">Create first trip</a>
        </div>
    </div>
    {% else %}
    <div class="row my-3">
        <div class="jumbotron shadow">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Seems like no one shared any trips with you. Ask you trip manager or anyone from your team to provide
                you a link with the information.</p>
        </div>
    </div>
    {% endif %}
</div>

{% else %}

<div class="container-fluid">
    <h1 class="display-4 m-3">Trips</h1>
</div>

<div class="container-fluid d-inline-flex flex-wrap">
    {% if g.user.access_group.value >= AccessGroup.TripManager.value %}
    <div class="card shadow m-3" style="width: 18rem;">
        <img src="{{ url_for('static', filename='trip.jpg') }}" class="card-img-top" alt="...">
        <h5 class="card-header">Create something new</h5>
        <div class="card-body">
            <!-- <h5 class="card-title">Adventure is out there!</h5> -->
            <p class="card-text">Start doing a great things by clicking this button. Let's start a new adventure!</p>
            <a href="{{ url_for('trips.add') }}" class="btn btn-primary stretched-link" role="button">Add a new trip</a>
        </div>
    </div>
    {% endif %}

    {% if user_trips %}
    {% for trip in user_trips %}
    {% if not trip['archived'] %}
    <div class="card shadow m-3" style="width: 18rem;">
        <img src="{{ url_for('static', filename='image.jpg') }}" class="card-img-top" alt="...">
        <h5 class="card-header">{{ trip['name'] }}</h5>
        <div class="card-body">
            <p class="card-text">Starts: {{ trip['from_date'].strftime('%d-%m-%y') }}</p>
            <p class="card-text">Ends: {{ trip['till_date'].strftime('%d-%m-%y') }}</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated: {{ trip['last_update'] }}</small></p> -->
            <a href="{{ url_for('meals.days_view', trip_id=trip['id']) }}" class="btn btn-secondary w-100">Open</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if shared_trips %}
    {% for trip in shared_trips %}
    {% if not trip['archived'] %}
    <div class="card shadow m-3" style="width: 18rem;">
        <img src="{{ url_for('static', filename='image.jpg') }}" class="card-img-top" alt="...">
        <h5 class="card-header"><i class="fas fa-share-alt" title="This trip is shared with you"></i> {{ trip['name'] }}</h5>
        <div class="card-body">
            <p class="card-text">Starts: {{ trip['from_date'].strftime('%d-%m-%y') }}</p>
            <p class="card-text">Ends: {{ trip['till_date'].strftime('%d-%m-%y') }}</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated: {{ trip['last_update'] }}</small></p> -->
            <a href="{{ url_for('meals.days_view', trip_id=trip['id']) }}" class="btn btn-secondary w-50">Open</a>
            <a href="{{ url_for('trips.forget', trip_id=trip['id']) }}" class="btn btn-link mx-3">Hide</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>

{% endif %}

{% endblock %}