{% extends 'base.html' %} {% block content %}

<script>
    $("#developer-console-link").addClass("active");
</script>

<div class="container">
    <h1 class="display-4 my-3">Developer console</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-2">
            <h5>Easy DB options</h5>
        </div>
        <div class="col-10">
            <div class="form-group">
                <a class="btn btn-warning" href="{{ url_for('developer.fill_fake_data') }}">Erase and fill database with fake data</a>
                <a class="btn btn-danger" href="{{ url_for('developer.clear_db') }}">Reinitialize database schema</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h5>SQL requests</h5>
        </div>
        <div class="col-10">
            <form action="{{ url_for('developer.execute_sql') }}" method="POST">
                <div class="form-group">
                    <label for="sql-request-area">SQL request</label>
                    <textarea class="form-control" id="sql-request-area" rows="3" name="code"></textarea>
                </div>
                <div class="d-flex flex-row-reverse ">
                    <button id="execute-request-button" class="btn btn-danger" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}