<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <h1>Сброс пароля</h1>
    <p>
      Кто-то запросил изменение пароля на сайте {{ sitename }}. Если это были не
      вы, проигнорируйте это письмо и ничего страшного не случится.
    </p>
    <p>
      Если это были вы, то пройдите по следующей ссылке и задайте новый пароль:
      <a href="{{ reset_link }}">{{reset_link }}</a>. Эта ссылка будет
      действительна в течение 3-х дней.
    </p>
  </body>
</html>
