{% extends 'base.html' %} {% block content %}

<div class="container" id="products-app">
    <div class="row my-3">
        <div class="col-8">
            <h1 class="display-4">Products</h1>
        </div>
        {% if g.user.access_group.value >= AccessGroup.TripManager.value %}
        <div class="col d-flex flex-row-reverse align-items-end">
            <button class="btn btn-primary mb-3 d-block d-lg-none"
                    type="button"
                    data-toggle="modal"
                    data-target="#edit-modal"
                    data-link="{{ url_for('products.add') }}"
                    data-bname="Add">
                Add new
            </button>
        </div>
        {% endif %}
    </div>

    <div class="row my-3">
        {% if g.user.access_group.value >= AccessGroup.TripManager.value %}
        <div class="col-auto d-none d-lg-block">
            <div class="card shadow" style="width: 18rem;">
                <img src="{{ url_for('static', filename='food.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Want to edit food?</h5>
                    <p class="card-text">If you cannot find something in this database, just add any product you want.
                        Be ready to fill up information about nutrition.</p>
                    <button type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#edit-modal"
                            data-link="{{ url_for('products.add') }}"
                            data-bname="Add">
                        Add a product
                    </button>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col">
            <form method="POST" action="{{ url_for('products.search') }}">
                <div class="input-group mb-3">
                    <input type="text"
                           class="form-control"
                           placeholder="Search for a product"
                           aria-label="Search for a product"
                           aria-describedby="button-addon2"
                           name="request"
                           id="input-search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" id="button-addon2" type="submit">Search</button>
                    </div>
                </div>
            </form>

            {% if filtered %}
            <p class="text-success">
                Table is filtered with search result.
                <a href="{{ url_for('products.index') }}">Get back?</a>
            </p>
            {% endif %}

            <table class="table table-sm table-hover table-responsive-xs">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width: 8%">#</th>
                        <th scope="col" style="width: 60%">Name</th>
                        <th scope="col" style="width: 8%">Cals</th>
                        <th class="d-none d-sm-table-cell" scope="col" style="width: 8%">P</th>
                        <th class="d-none d-sm-table-cell" scope="col" style="width: 8%">F</th>
                        <th class="d-none d-sm-table-cell" scope="col" style="width: 8%">C</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr class="showhim">
                        <th scope="row">{{ product['id'] }}</th>
                        <td>
                            <span>{{ product['name'] }}</span>
                            {% if g.user.access_group.value >= AccessGroup.TripManager.value %}
                            <span class="text-right float-right mx-1 showme">
                                <a data-toggle="modal"
                                   data-target="#edit-modal"
                                   data-name="{{ product['name'] }}"
                                   data-calories="{{ product['calories'] }}"
                                   data-proteins="{{ product['proteins'] }}"
                                   data-fats="{{ product['fats'] }}"
                                   data-carbs="{{ product['carbs'] }}"
                                   data-grams="{{ product['grams'] if product['grams'] != None else '' }}"
                                   data-link="{{ url_for('products.edit', product_id=product['id']) }}"
                                   data-bname="Edit"
                                   href="javascript:void(0);">
                                   Edit
                                </a>
                            </span>
                            <span class="text-right float-right mx-1 showme">
                                <a data-toggle="modal"
                                   data-target="#archive-modal"
                                   data-archive="{{ url_for('products.archive', product_id=product['id']) }}"
                                   href="javascript:void(0);">
                                    Archive
                                </a>
                            </span>
                            {% endif %}
                        </td>
                        <td>{{ product['calories'] }}</td>
                        <td class="d-none d-sm-table-cell">{{ product['proteins'] }}</td>
                        <td class="d-none d-sm-table-cell">{{ product['fats'] }}</td>
                        <td class="d-none d-sm-table-cell">{{ product['carbs'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if g.user.access_group.value >= AccessGroup.TripManager.value %}
    <!-- Add/edit a product modal -->
    {% raw %}
    <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit-modal-title"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="edit-form" method="POST" v-bind:action="submitLink" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit-modal-title">{{ modalTitle }}</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="add-name-input" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id="add-name-input"
                                    placeholder="Product name" v-model="productName"
                                    v-bind:class="{ 'is-valid': validation.name, 'is-invalid': !validation.name }"
                                    autocomplete="off">
                                <div class="invalid-feedback">Field must not be empty</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="add-calories-input" class="col-sm-2 col-form-label">Calories</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           name="calories"
                                           id="add-calories-input"
                                           placeholder="Amount of calories"
                                           autocomplete="off"
                                           v-model="calories"
                                           v-bind:class="{ 'is-valid': validation.cals, 'is-invalid': !validation.cals }"
                                           v-bind:readonly="caloriesLock">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary"
                                                type="button"
                                                id="button-addon-lock"
                                                data-toggle="button"
                                                autocomplete="off"
                                                aria-pressed="false"
                                                v-on:click="lockCalories">
                                            Lock
                                        </button>
                                    </div>
                                </div>
                                <div class="invalid-feedback d-block" v-if="!validation.cals">Please enter non-negative number</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="add-proteins-input" class="col-sm-2 col-form-label">Proteins</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="proteins" id="add-proteins-input" v-model="proteins"
                                v-bind:class="{ 'is-valid': validation.proteins, 'is-invalid': !validation.proteins }"
                                autocomplete="off">
                                <div class="invalid-feedback">Please enter the correct number</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="add-fats-input" class="col-sm-2 col-form-label">Fats</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="fats" id="add-fats-input" v-model="fats"
                                v-bind:class="{ 'is-valid': validation.fats, 'is-invalid': !validation.fats }"
                                autocomplete="off">
                                <div class="invalid-feedback">Please enter the correct number</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="add-carbs-input" class="col-sm-2 col-form-label">Carbs</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="carbs" id="add-carbs-input" v-model="carbs"
                                v-bind:class="{ 'is-valid': validation.carbs, 'is-invalid': !validation.carbs }"
                                autocomplete="off">
                                <div class="invalid-feedback">Please enter the correct number</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2" v-bind:class="{ 'text-info': validation.nutrition, 'text-danger': !validation.nutrition }">
                                Note
                            </div>
                            <div class="col-sm-10" v-bind:class="{ 'text-info': validation.nutrition, 'text-danger font-weight-bolder': !validation.nutrition }">
                                Sum of all nutritional values must not be more than 100
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2 col-form-label"></div>
                            <div class="col-sm-10 custom-control custom-checkbox my-1">
                                <div class="form-check pl-3">
                                    <input type="checkbox" class="custom-control-input align-middle" id="add-custom-weight" v-model="custom">
                                    <label class="custom-control-label align-middle" for="add-custom-weight">Use pieces instead of grams</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" v-if="custom">
                            <div class="col-sm-2">Note:</div>
                            <span class="col-sm-10">Specify how many grams each piece weighs in the field below. You can use rational numbers.</span>
                        </div>
                        <div class="form-group row" v-if="custom">
                            <label for="add-gpp-input" class="col-sm-2 col-form-label">Mass</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="grams" id="add-gpp-input" v-model="grams"
                                v-bind:class="{ 'is-valid': validation.grams, 'is-invalid': !validation.grams }"
                                autocomplete="off">
                                <div class="invalid-feedback">Please enter the number greater than 0.1</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" type="submit"
                                v-bind:disabled="!formValid">
                            {{buttonName}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Archive a product confirmation modal -->
    <div class="modal fade" id="archive-modal" tabindex="-1" role="dialog" aria-labelledby="archive-modal-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="archive-modal-title">Archive a product?</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to put this product to the archive?</p>
                </div>
                <div class="modal-footer">
                    <a id="archive-button" class="btn btn-danger" v-bind:href="archiveLink">Archive</a>
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
    {% endif %}
</div>

<!-- development version, includes helpful console warnings -->
<!-- should be included before products.js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="application/javascript" src="{{ url_for('static', filename='products.js') }}"></script>

{% endblock %}