@import './typefaces.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background: url('../../static/img/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 100vh;
}

footer {
  background-image: linear-gradient(
    180deg,
    #fcc5e4 -56.7%,
    #fda34b -30.41%,
    #ff7882 4.65%,
    #c8699e 34.45%,
    #7046aa 67.75%,
    #0c1db8 95.79%,
    #020f75 118.58%
  );
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p,
a,
li {
  font-family: 'Open Sans', sans-serif;
}

.btn-bs {
  text-decoration: none;
}

a {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.display-2-bs {
  font-weight: 600;
  letter-spacing: 0.5rem;
}

@media (max-width: 576px) {
  .display-2-bs {
    font-size: 3.25rem;
  }

  .h2-bs {
    font-size: 1.75rem;
  }
}

@media (max-width: 992px) {
  #header {
    background-position: 75% 100%;
  }
}

.btn-bs {
  font-family: 'Montserrat', sans-serif;
}

.btn-lg-bs {
  border-radius: 2.5rem;
  border-width: 0.15rem;
  font-size: 1.75rem;
}

.btn-primary-bs {
  background-color: #ffc600;
  color: var(--dark);
  border-color: #ffc600;
}

.btn-primary-bs:hover {
  background-color: #ffd133;
  border-color: #ffd133;
}

.btn-primary-bs:active {
  background-color: #ffd133;
  border-color: #ffd133;
}

.btn-secondary-bs {
  background-color: #00ffc600;
  color: #ffc600;
  border-color: #ffc600;
}

.btn-secondary-bs:hover {
  background-color: #ffd133;
  border-color: #ffd133;
  color: var(--dark);
}

.btn-secondary-bs:active .btn-secondary-bs:focus {
  background-color: #ffc600;
}

.share-button-bs {
  background-color: royalblue;
  border-radius: 4px;
  transition: 150ms;
}

.share-button-bs:hover {
  background-color: darkblue;
}









* {
  box-sizing: border-box;
}

img, svg {
  vertical-align: middle;
  display: initial;
}

.container-fluid-bs {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.row-bs {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.d-none-bs {
  display: none !important;
}

.d-flex-bs {
  display: flex !important;
}

@media (min-width: 576px) {
  .col-sm-2-bs {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}

@media (min-width: 768px) {
  .d-md-block-bs {
    display: block !important;
  }

  .d-md-none-bs {
    display: none !important;
  }

  .col-md-8-bs {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-2-bs {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-6-bs {
    flex: 0 0 auto;
    width: 50%;
  }
}

.col-bs {
  flex: 1 0 0%;
}

.p-3-bs {
  padding: 1rem !important;
}

.pb-5-bs {
  padding-bottom: 3rem !important;
}

.pb-2-bs {
  padding-bottom: .5rem !important;
}

.py-5-bs {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
