@import './typefaces.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background: url('../../static/img/1.jpg');
  background-position: 100% 100%;

  @apply px-3 w-full h-dvh bg-cover bg-no-repeat;
}

footer {
  background-image: linear-gradient(
    180deg,
    #fcc5e4 -56.7%,
    #fda34b -30.41%,
    #ff7882 4.65%,
    #c8699e 34.45%,
    #7046aa 67.75%,
    #0c1db8 95.79%,
    #020f75 118.58%
  );
}

h1,
h2,
h3 {
  @apply font-display font-semibold;
}

a {
  @apply underline;
  text-underline-offset: 0.25rem;
}

.display-2 {
  letter-spacing: 0.5rem;
}

@media (max-width: 576px) {
  .display-2 {
    font-size: 3.25rem;
  }

  .h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 992px) {
  #header {
    background-position: 75% 100%;
  }
}

.btn {
  @apply font-display;
}

.btn-lg {
  border-radius: 2.5rem;
  border-width: 0.15rem;
  font-size: 1.75rem;
}

.btn-primary {
  background-color: #ffc600;
  color: #212529;
  border-color: #ffc600;
}

.btn-primary:hover {
  background-color: #ffd133;
  border-color: #ffd133;
}

.btn-primary:active {
  background-color: #ffd133;
  border-color: #ffd133;
}

.btn-secondary {
  background-color: #00ffc600;
  color: #ffc600;
  border-color: #ffc600;
}

.btn-secondary:hover {
  background-color: #ffd133;
  border-color: #ffd133;
  color: #212529;
}

.btn-secondary:active .btn-secondary:focus {
  background-color: #ffc600;
}
